---
interface Props {
  id?: string;
  eyebrow?: string;
  title: string;
  description?: string;
}

const { id, eyebrow, title, description } = Astro.props;
---

<section id={id} class="section">
  <div class="container">
    {eyebrow && <p class="eyebrow">{eyebrow}</p>}

    <h2>{title}</h2>

    {description && <p class="section-description">{description}</p>}

    <slot />
  </div>
</section>
